/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

#header-wrap #logo img {
  height: 50px;
}

.notes-title {
  text-align: center;
  margin: 20px 0;
}

#content {
  margin: 0 20px;
}

#subject-select {
  width: 300px;
}