<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="author" content="Martin Dobrev">
  <meta name="description" content="Spring Boot Playground for the course 'Internet Programming 2024/2025'">

  <!-- Font Imports -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">

  <!-- Core Style -->
  <link rel="stylesheet" href="../static/css/style.css" data-th-href="@{/css/style.css}" >

  <!-- Font Icons -->
  <link rel="stylesheet" href="../static/css/font-icons.css" data-th-href="@{/css/font-icons.css}">

  <!-- Plugins/Components CSS -->
  <link rel="stylesheet" href="../static/css/swiper.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="../static/css/custom.css" data-th-href="@{/css/custom.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Document Title
  ============================================= -->
  <title>Students 2024/2025</title>

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper">

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container">
        <div class="header-row">

          <!-- Logo
          ============================================= -->
          <div id="logo">
            <a href="index.html">
              <img class="logo-default" height="50" data-th-src="@{/images/codingburgas_logo.png}" alt="Codingburgas Logo">
            </a>
          </div><!-- #logo end -->

          <div class="header-misc">

            <!-- Top Search
            ============================================= -->
            <div id="top-search" class="header-misc-icon">
              <a href="#" id="top-search-trigger"><i class="uil uil-search"></i><i class="bi-x-lg"></i></a>
            </div><!-- #top-search end -->

          </div>

          <div class="primary-menu-trigger">
            <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
              <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
            </button>
          </div>

          <!-- Primary Navigation
          ============================================= -->
          <nav class="primary-menu sub-title">

            <ul class="menu-container">
              <li class="menu-item">
                <a class="menu-link" href="index.html"><div>Home</div><span>Lets Start</span></a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="#"><div>Lectures</div><span>What do we offer</span></a>
              </li>
              <li class="menu-item mega-menu">
                <a class="menu-link" href="#"><div>Students</div><span>Check out our class</span></a>
              </li>
              <li class="menu-item mega-menu">
                <a class="menu-link" href="#"><div>Notes</div><span>Look at some stats</span></a>

              </li>
              <li class="menu-item mega-menu">
                <a class="menu-link" href="#"><div>About</div><span>Latest News</span></a>
              </li>
            </ul>

          </nav><!-- #primary-menu end -->

          <form class="top-search-form" action="search.html" method="get">
            <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
          </form>

        </div>
      </div>
    </div>
    <div class="header-wrap-clone"></div>
  </header><!-- #header end -->

  <!-- Content
  ============================================= -->
  <section id="content">
    <div class="content-wrap">

      <div class="section header-stick">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-9">
              <h1>Create new student</h1>


              <form class="row">
                <div class="form-process">
                  <div class="css3-spinner">
                    <div class="css3-spinner-scaler"></div>
                  </div>
                </div>
                <div class="col-12 form-group">
                  <label for="firstname">First Name:</label>
                  <input type="text" name="firstname" id="firstname" class="form-control required" value="" placeholder="John">
                </div>
                <div class="col-12 form-group">
                  <label for="lastname">Last Name:</label>
                  <input type="text" name="lastname" id="lastname" class="form-control required" value="" placeholder="Doe">
                </div>
                <div class="col-12 form-group">
                  <label for="username">Username:</label>
                  <input type="email" name="username" id="username" class="form-control required" value="" placeholder="user@company.com">
                </div>
                <div class="col-6 form-group">
                  <label for="phone">Phone:</label><br>
                  <input type="text" name="phone" id="phone" class="form-control required" value="" placeholder="02-232-2424">
                </div>
                <div class="col-6 form-group">
                  <label for="country">Country:</label>
                  <select class="form-select required valid" name="country" id="country" aria-invalid="false">
                    <option value="AX">Åland Islands</option>
                    <option value="AF">Afghanistan</option>
                    <option value="AL">Albania</option>
                    <option value="DZ">Algeria</option>
                    <option value="AD">Andorra</option>
                    <option value="AO">Angola</option>
                    <option value="AI">Anguilla</option>
                    <option value="AQ">Antarctica</option>
                    <option value="AG">Antigua and Barbuda</option>
                    <option value="AR">Argentina</option>
                    <option value="AM">Armenia</option>
                    <option value="AW">Aruba</option>
                    <option value="AU">Australia</option>
                    <option value="AT">Austria</option>
                    <option value="AZ">Azerbaijan</option>
                    <option value="BS">Bahamas</option>
                    <option value="BH">Bahrain</option>
                    <option value="BD">Bangladesh</option>
                    <option value="BB">Barbados</option>
                    <option value="BY">Belarus</option>
                    <option value="PW">Belau</option>
                    <option value="BE">Belgium</option>
                    <option value="BZ">Belize</option>
                    <option value="BJ">Benin</option>
                    <option value="BM">Bermuda</option>
                    <option value="BT">Bhutan</option>
                    <option value="BO">Bolivia</option>
                    <option value="BQ">Bonaire, Saint Eustatius and Saba</option>
                    <option value="BA">Bosnia and Herzegovina</option>
                    <option value="BW">Botswana</option>
                    <option value="BV">Bouvet Island</option>
                    <option value="BR">Brazil</option>
                    <option value="IO">British Indian Ocean Territory</option>
                    <option value="VG">British Virgin Islands</option>
                    <option value="BN">Brunei</option>
                    <option value="BG">Bulgaria</option>
                    <option value="BF">Burkina Faso</option>
                    <option value="BI">Burundi</option>
                    <option value="KH">Cambodia</option>
                    <option value="CM">Cameroon</option>
                    <option value="CA">Canada</option>
                    <option value="CV">Cape Verde</option>
                    <option value="KY">Cayman Islands</option>
                    <option value="CF">Central African Republic</option>
                    <option value="TD">Chad</option>
                    <option value="CL">Chile</option>
                    <option value="CN">China</option>
                    <option value="CX">Christmas Island</option>
                    <option value="CC">Cocos (Keeling) Islands</option>
                    <option value="CO">Colombia</option>
                    <option value="KM">Comoros</option>
                    <option value="CG">Congo (Brazzaville)</option>
                    <option value="CD">Congo (Kinshasa)</option>
                    <option value="CK">Cook Islands</option>
                    <option value="CR">Costa Rica</option>
                    <option value="HR">Croatia</option>
                    <option value="CU">Cuba</option>
                    <option value="CW">CuraÇao</option>
                    <option value="CY">Cyprus</option>
                    <option value="CZ">Czech Republic</option>
                    <option value="DK">Denmark</option>
                    <option value="DJ">Djibouti</option>
                    <option value="DM">Dominica</option>
                    <option value="DO">Dominican Republic</option>
                    <option value="EC">Ecuador</option>
                    <option value="EG">Egypt</option>
                    <option value="SV">El Salvador</option>
                    <option value="GQ">Equatorial Guinea</option>
                    <option value="ER">Eritrea</option>
                    <option value="EE">Estonia</option>
                    <option value="ET">Ethiopia</option>
                    <option value="FK">Falkland Islands</option>
                    <option value="FO">Faroe Islands</option>
                    <option value="FJ">Fiji</option>
                    <option value="FI">Finland</option>
                    <option value="FR">France</option>
                    <option value="GF">French Guiana</option>
                    <option value="PF">French Polynesia</option>
                    <option value="TF">French Southern Territories</option>
                    <option value="GA">Gabon</option>
                    <option value="GM">Gambia</option>
                    <option value="GE">Georgia</option>
                    <option value="DE">Germany</option>
                    <option value="GH">Ghana</option>
                    <option value="GI">Gibraltar</option>
                    <option value="GR">Greece</option>
                    <option value="GL">Greenland</option>
                    <option value="GD">Grenada</option>
                    <option value="GP">Guadeloupe</option>
                    <option value="GT">Guatemala</option>
                    <option value="GG">Guernsey</option>
                    <option value="GN">Guinea</option>
                    <option value="GW">Guinea-Bissau</option>
                    <option value="GY">Guyana</option>
                    <option value="HT">Haiti</option>
                    <option value="HM">Heard Island and McDonald Islands</option>
                    <option value="HN">Honduras</option>
                    <option value="HK">Hong Kong</option>
                    <option value="HU">Hungary</option>
                    <option value="IS">Iceland</option>
                    <option value="IN">India</option>
                    <option value="ID">Indonesia</option>
                    <option value="IR">Iran</option>
                    <option value="IQ">Iraq</option>
                    <option value="IM">Isle of Man</option>
                    <option value="IL">Israel</option>
                    <option value="IT">Italy</option>
                    <option value="CI">Ivory Coast</option>
                    <option value="JM">Jamaica</option>
                    <option value="JP">Japan</option>
                    <option value="JE">Jersey</option>
                    <option value="JO">Jordan</option>
                    <option value="KZ">Kazakhstan</option>
                    <option value="KE">Kenya</option>
                    <option value="KI">Kiribati</option>
                    <option value="KW">Kuwait</option>
                    <option value="KG">Kyrgyzstan</option>
                    <option value="LA">Laos</option>
                    <option value="LV">Latvia</option>
                    <option value="LB">Lebanon</option>
                    <option value="LS">Lesotho</option>
                    <option value="LR">Liberia</option>
                    <option value="LY">Libya</option>
                    <option value="LI">Liechtenstein</option>
                    <option value="LT">Lithuania</option>
                    <option value="LU">Luxembourg</option>
                    <option value="MO">Macao S.A.R., China</option>
                    <option value="MK">Macedonia</option>
                    <option value="MG">Madagascar</option>
                    <option value="MW">Malawi</option>
                    <option value="MY">Malaysia</option>
                    <option value="MV">Maldives</option>
                    <option value="ML">Mali</option>
                    <option value="MT">Malta</option>
                    <option value="MH">Marshall Islands</option>
                    <option value="MQ">Martinique</option>
                    <option value="MR">Mauritania</option>
                    <option value="MU">Mauritius</option>
                    <option value="YT">Mayotte</option>
                    <option value="MX">Mexico</option>
                    <option value="FM">Micronesia</option>
                    <option value="MD">Moldova</option>
                    <option value="MC">Monaco</option>
                    <option value="MN">Mongolia</option>
                    <option value="ME">Montenegro</option>
                    <option value="MS">Montserrat</option>
                    <option value="MA">Morocco</option>
                    <option value="MZ">Mozambique</option>
                    <option value="MM">Myanmar</option>
                    <option value="NA">Namibia</option>
                    <option value="NR">Nauru</option>
                    <option value="NP">Nepal</option>
                    <option value="NL">Netherlands</option>
                    <option value="AN">Netherlands Antilles</option>
                    <option value="NC">New Caledonia</option>
                    <option value="NZ">New Zealand</option>
                    <option value="NI">Nicaragua</option>
                    <option value="NE">Niger</option>
                    <option value="NG">Nigeria</option>
                    <option value="NU">Niue</option>
                    <option value="NF">Norfolk Island</option>
                    <option value="KP">North Korea</option>
                    <option value="NO">Norway</option>
                    <option value="OM">Oman</option>
                    <option value="PK">Pakistan</option>
                    <option value="PS">Palestinian Territory</option>
                    <option value="PA">Panama</option>
                    <option value="PG">Papua New Guinea</option>
                    <option value="PY">Paraguay</option>
                    <option value="PE">Peru</option>
                    <option value="PH">Philippines</option>
                    <option value="PN">Pitcairn</option>
                    <option value="PL">Poland</option>
                    <option value="PT">Portugal</option>
                    <option value="QA">Qatar</option>
                    <option value="IE">Republic of Ireland</option>
                    <option value="RE">Reunion</option>
                    <option value="RO">Romania</option>
                    <option value="RU">Russia</option>
                    <option value="RW">Rwanda</option>
                    <option value="ST">São Tomé and Príncipe</option>
                    <option value="BL">Saint Barthélemy</option>
                    <option value="SH">Saint Helena</option>
                    <option value="KN">Saint Kitts and Nevis</option>
                    <option value="LC">Saint Lucia</option>
                    <option value="SX">Saint Martin (Dutch part)</option>
                    <option value="MF">Saint Martin (French part)</option>
                    <option value="PM">Saint Pierre and Miquelon</option>
                    <option value="VC">Saint Vincent and the Grenadines</option>
                    <option value="SM">San Marino</option>
                    <option value="SA">Saudi Arabia</option>
                    <option value="SN">Senegal</option>
                    <option value="RS">Serbia</option>
                    <option value="SC">Seychelles</option>
                    <option value="SL">Sierra Leone</option>
                    <option value="SG">Singapore</option>
                    <option value="SK">Slovakia</option>
                    <option value="SI">Slovenia</option>
                    <option value="SB">Solomon Islands</option>
                    <option value="SO">Somalia</option>
                    <option value="ZA">South Africa</option>
                    <option value="GS">South Georgia/Sandwich Islands</option>
                    <option value="KR">South Korea</option>
                    <option value="SS">South Sudan</option>
                    <option value="ES">Spain</option>
                    <option value="LK">Sri Lanka</option>
                    <option value="SD">Sudan</option>
                    <option value="SR">Suriname</option>
                    <option value="SJ">Svalbard and Jan Mayen</option>
                    <option value="SZ">Swaziland</option>
                    <option value="SE">Sweden</option>
                    <option value="CH">Switzerland</option>
                    <option value="SY">Syria</option>
                    <option value="TW">Taiwan</option>
                    <option value="TJ">Tajikistan</option>
                    <option value="TZ">Tanzania</option>
                    <option value="TH">Thailand</option>
                    <option value="TL">Timor-Leste</option>
                    <option value="TG">Togo</option>
                    <option value="TK">Tokelau</option>
                    <option value="TO">Tonga</option>
                    <option value="TT">Trinidad and Tobago</option>
                    <option value="TN">Tunisia</option>
                    <option value="TR">Turkey</option>
                    <option value="TM">Turkmenistan</option>
                    <option value="TC">Turks and Caicos Islands</option>
                    <option value="TV">Tuvalu</option>
                    <option value="UG">Uganda</option>
                    <option value="UA">Ukraine</option>
                    <option value="AE">United Arab Emirates</option>
                    <option value="GB" selected="selected">United Kingdom (UK)</option>
                    <option value="US">United States (US)</option>
                    <option value="UY">Uruguay</option>
                    <option value="UZ">Uzbekistan</option>
                    <option value="VU">Vanuatu</option>
                    <option value="VA">Vatican</option>
                    <option value="VE">Venezuela</option>
                    <option value="VN">Vietnam</option>
                    <option value="WF">Wallis and Futuna</option>
                    <option value="EH">Western Sahara</option>
                    <option value="WS">Western Samoa</option>
                    <option value="YE">Yemen</option>
                    <option value="ZM">Zambia</option>
                    <option value="ZW">Zimbabwe</option>
                  </select>
                </div>
                <div class="col-6 form-group">
                  <label for="number-in-class">Number in class:</label><br>
                  <input type="number" min="1" max="26" name="number-in-class" id="number-in-class" class="form-control" value="" placeholder="3">
                </div>
                <div class="col-6 form-group">
                  <label for="class">Class:</label>
                  <select class="form-select valid" name="class" id="class" aria-invalid="false">
                    <option value="">-- Select One --</option>
                    <option value="12А">12A</option>
                    <option value="12Б">12Б</option>
                    <option value="12В">12В</option>
                    <option value="12Г">12Г</option>
                  </select>
                </div>
                <div class="col-6 form-group">
                  <label>Project Type:</label>
                  <select class="form-select required" name="freelance-quote-project-type" id="freelance-quote-project-type">
                    <option value="">-- Select One --</option>
                    <option value="PSD to HTML">PSD to HTML</option>
                    <option value="Canvas">Canvas</option>
                    <option value="Infographics Design">Infographics Design</option>
                    <option value="Logo Design">Logo Design</option>
                    <option value="Mobile Apps">Mobile Apps</option>
                  </select>
                </div>
                <div class="col-12">
                  <button type="submit" name="freelance-quote-submit" class="btn btn-secondary">Send Quote</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark">
    <div class="container">

      <!-- Footer Widgets
      ============================================= -->
      <div class="footer-widgets-wrap">

        <div class="row col-mb-50">
          <div class="col-lg-8">

            <div class="row col-mb-50">
              <div class="col-md-4">

                <div class="widget">

                  <p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Teaching Process.</p>

                  <div>
                    <address>
                      <strong>Headquarters:</strong><br>
                      123 Acme Street<br>
                      San Burgas, CA 94107<br>
                    </address>
                    <abbr title="Phone Number"><strong>Phone:</strong></abbr> (359) 1234 567890<br>
                    <abbr title="Email Address"><strong>Email:</strong></abbr> info@codingburgas.org
                  </div>

                </div>

              </div>

              <div class="col-md-4">

                <div class="widget widget_links">

                  <h4>Useful Links</h4>

                  <ul>
                    <li><a href="https://codingburgas.org/">Coding Burgas Main Website</a></li>
                    <li><a href="https://spring.io/projects/spring-boot">Spring Boot official documentation</a></li>
                    <li><a href="https://spring.io/projects/spring-data">Spring Data official documentation</a></li>
                    <li><a href="https://www.thymeleaf.org/documentation.html">Thymeleaf official documentation</a></li>
                  </ul>

                </div>

              </div>

            </div>

          </div>
        </div>

      </div><!-- .footer-widgets-wrap end -->

    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container">

        <div class="row col-mb-30">

          <div class="col-md-6 text-center text-md-start">
            Copyrights &copy; 2024 All Rights Reserved by codingburgas.org<br>
            <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
          </div>
        </div>

      </div>
    </div><!-- #copyrights end -->
  </footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="uil uil-angle-up"></div>

<!-- JavaScripts
============================================= -->
<script src="../static/js/plugins.min.js" data-th-src="@{/js/plugins.min.js}"></script>
<script src="../static/js/functions.bundle.js" data-th-src="@{/js/functions.bundle.js}"></script>

</body>
</html>


